
/* ---------|--start applying media query--|----------*/

@media (min-width:768px) and (max-width: 992px){
     /*--------navbar start------*/
     #banner {
        padding: 100px 0px;
    }
    .banner-right img {
        width: 100%;
    }
    .banner-items {
        column-gap: 0;
    }
    .banner-left h3 {
        font-size: 40px;
    }
    .banner-left p {
        font-size: 15px;
        padding-bottom: 16px;
        text-align: left;
        line-height: 25px;
    }
     /*--------navbar start------*/

     /*--------logo start------*/
     .logo-title {
        font-size: 25px;
    }
     /*--------logo start------*/

     /*--------feature start------*/
     .feature-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: flex-start; 
        row-gap: 50px;
    }
     #feature {
        padding: 100px 0px;
    }
     .feature-title {
        font-size: 25px;
     }
     .feature-left p {
        font-size: 15px;
        line-height: 25px;
        text-align-last: left;
    }
     /*--------feature start------*/
}























/*--------tablet device------*/
@media (min-width:575px) and (max-width: 767px){
     /*--------navbar start------*/
     #label-icon {
        display: block;
        cursor: pointer;
        flex: 2;
        color: #fff;
        font-size: 22px;
    }
    .nav-text ul{
        position: fixed;
        top: 147px;
        right: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        background-color: #d1d1d1;
        transform: translateX(800px);
        transition: linear .4s;
    }
    .nav-text ul li a {
        color: #1FAA59;
    }
    #nav-toggler:checked~.nav-text ul{
       transform: translateX(0px);
    }
    .navbar {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .nav-text ul li a {
        font-size: 14px;
        margin: 3px 15px;
    }
    .logo h3 {
        font-size: 20px;
    }
    /*--------navbar start------*/

    /*--------banner start------*/
    #banner {
        padding: 60px 0px;
    }
    .banner-right img {
        width: 100%;
    }
    .banner-items {
        grid-template-columns: repeat(1,1fr);
        place-items: center;
        row-gap: 50px;
        column-gap: 0;
    }
    .banner-left h3 {
        font-size: 40px;
        text-align: center;
    }
    .banner-left-btn {
        text-align: center;
    }
    .banner-left p {
        font-size: 15px;
        text-align: center;
        line-height: 25px;
    }
    /*--------banner start------*/

    /*--------client start------*/
    #logo {
        padding: 50px 0px;
    }

    .popular-title {
        font-size: 28px;
        text-transform: capitalize;
        text-align: center;
        padding-bottom:20;
    }
    /*--------client end------*/

    /*--------popular start------*/
    .popular-title {
        font-size: 25px;
    }
    .popular-items {
        grid-template-columns: repeat(2, 1fr);
    }
    /*--------popular end------*/


    /*--------logo start------*/
    .logo-items {
        grid-template-columns: repeat(3,1fr);
        row-gap: 30px;
        place-items: center;
    }
    /*--------logo end------*/

    /*--------feature start------*/
        #feature {
            padding: 50px;
        }
        .feature-title {
            padding-bottom: 0px;
        }
        .feature-items {
            grid-template-columns: repeat(1, 1fr);
            place-items: center;
            row-gap: 50px;
        }
        .feature-left{
            text-align: center;
        }
        .feature-left p {
            font-size: 14px;
            padding-bottom: 10px;
            line-height: 22px;
            text-align: center;
            width: 98%;
        }
    /*--------feature end------*/

    /*---------footer start------*/
    #footer {
        padding: 40px 0px;
    }
    /*---------footer end------*/
 
}
@media (max-width: 574px){
    .banner-right img {
        width: 100%;
    }
}

/*--------tablet device------*/























/*--------mobile device------*/
@media (max-width: 575px){
    /*--------navbar start------*/
    #label-icon {
        display: block;
        cursor: pointer;
        flex: 2;
        color: #fff;
        font-size: 22px;
    }
    .nav-text ul{
        position: fixed;
        top: 147px;
        right: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        background-color: #d1d1d1;
        transform: translateX(800px);
        transition: linear .4s;
    }
    .nav-text ul li a {
        color: #1FAA59;
    }
    #nav-toggler:checked~.nav-text ul{
       transform: translateX(0px);
    }
    .navbar {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .nav-text ul li a {
        font-size: 14px;
        margin: 3px 15px;
    }
    .logo h3 {
        font-size: 20px;
    }
    /*--------navbar end------*/

    /*--------banner start------*/
     #banner {
        padding: 20px 0px;
    }
    .banner-left{
      order: 2;
    }
    .banner-right{
      order: 1;
    }
    .banner-items {
        grid-template-columns: repeat(1,1fr);
        place-items: center;
    }
    .banner-left h3 {
        font-size: 35px;
    }
    .banner-left p {
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        width: 96%;
    }
    .banner-left-btn a {
        padding: 5px 15px;
        font-size: 14px;
    }
    .banner-left{
        text-align: center;
    }
    .banner-right img{
     margin: 0px auto;
    } 
    /*--------banner end------*/

    /*--------client start------*/
    #logo {
        padding: 50px 0px;
    }
    .logo-title {
        font-size: 20px;
        padding-bottom: 0px;
    }
    .logo-items {
        grid-template-columns: repeat(2,1fr);
        place-items: center;
        row-gap: 50px;
    }
/*--------client start------*/

/*--------popular start------*/
    #popular {
        padding: 50px 0px;
    }
    .popular-title {
        font-size: 20px;
    }
    .popular-items {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .popular-photo h3 {
        font-size: 20px;
        padding: 5px 0px;
    }
    .see-more {
        text-align: center;
    }
    .see-more a {
        font-size: 14px;
    }
/*--------popular start------*/

/*--------feature start------*/
    #feature {
        padding: 50px 0px;
    }
    .feature-left {
        text-align: center;
    }
    .feature-title {
        font-size: 20px;
    }
    .feature-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }
    .feature-left h2 {
        font-size: 25px;
        padding-bottom: 10px;
        text-align: center;
    }
    .feature-left p {
        font-size: 14px;
        padding-bottom: 10px;
        line-height: 22px;
        text-align: center;
        width: 98%;
    }
 
    .feature-left a {
        padding: 5px 20px;
        font-size: 14px;
        text-align: center;
    }
    .feature-right h2,span{
        font-size: 25px; 
    }
    /*--------feature start------*/

    /*--------footer start------*/
    #footer {
        padding: 20px 0px;
    }
}
    /*--------footer start------*
/*--------mobile device------*/
/* ---------|--end applying media query--|----------*/